/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=REM:wght@300&family=Roboto&family=Roboto+Condensed&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=REM:wght@300&family=Roboto&family=Roboto+Condensed&display=swap');

*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 33);
    color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100vw;

}

.threeD {
color: darkgrey;
cursor: pointer;
white-space: nowrap;
left: 50%;
padding-left: 50%;
transform: translate(-50%, -50%);
font-size: 3em;
font-family: sans-serif;
letter-spacing: 0.1em;
transition: 0.3s;
text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
5px 13px 15px black;
}

.threeD:hover {
transition: 0.3s;
transform: scale(1.1)translate(-50%, -50%);
text-shadow: 1px -1px 0 rgb(107, 105, 105), 1px -2px 0 grey, 1px -3px 0 grey,
1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
   background-color: rgb(25, 25, 87);

}
nav ul li a:hover{
    color: brown;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav div ul li {
    list-style: none;
}
nav div ul li a {
    margin: 23px;
    transition: 3s;
    font-size: 1.2rem;
    color: antiquewhite;
}
.left{
    font-size: 2.6rem; 
    font-weight: 200;
    font-style: bold;
}
.left b {
    color: rgb(172, 25, 25);
    /* font-size: small; */
}

b{
    font-weight: 500;
}
.right{
    font-size: smaller;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 23px;
}
.firstSection > div{
    width: 30%;
}
.leftSection{
    width: 34px;
    font-size: 2rem;
    margin-top: 8%;
 
}
.rightSection{
   align-items: right;
    width: 34px;
 margin-top: 8%;
}
.leftSection b {
 color: rgb(165, 35, 35);
 font-size: 3rem;
}
#element{
    color: rgb(165, 35, 35);
}
main hr  {
    border: 0px;
    margin: 60px;
  height: 2px;
    background-color: rgb(134, 27, 27);
} 

.typegray{
  padding-left: 15%;
  color: bisque;
}
.secondSection h1{
  padding-left: 15%;
  color: #9b9797;
  font-size: 3rem;
  /* display: flex; */
}

.rightSection1{
  display: flex;
}

.box{
    align-items: justify;
    margin-left: 100px;
    margin-bottom: 100px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    width: 80vw;
    display: flex;
    width: 40%;
}
.secondSection .vertical{
  background-color: rgb(248, 248, 248);
  height: 93px;
  width: 1px;
  margin: 0% 10%;
  display: flex;
 }  

 .button{
  font-size: 1.5rem;
  padding: 8px;
  color: #fff;
  border: 2px solid #3e0b0b;
  background-color: #3e0b0b;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-size: 1.5rem;
  margin: 20px;
  -webkit-border-radius: 20px/50px;
  -moz-border-radius: 20px/50px;
  -ms-border-radius: 20px/50px;
  -o-border-radius: 20px/50px;
}
.button:hover {
background: #ffffff;
color: #3e0b0b;
}

.overlay {
position: fixed;
top: 0;
bottom: 10px;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 30%;
position: relative;
transition: all 5s ease-in-out;
}

.popup h2 {
/* margin-top: 0; */
margin-bottom: 6px;
color: #5d5959;
font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
position: absolute;
top: 10px;
right: 30px;

transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #797373;
}
.popup .close:hover {
color: #680e0e;
}
.popup .content {
max-height: 30%;
overflow: auto;
}

@media screen and (max-width: 700px){
.box{
width: 70%;
margin-top: 10px;
}
.popup{
width: 70%;
}
}
.content{
background-color: rgb(92, 88, 88);

}
